<!DOCTYPE html>
<html ng-app xmlns="http://www.w3.org/1999/html">
<head>
    <title>Lolcat Mobile</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lolcat-mobile.css" rel="stylesheet">
</head>
<body>

    <div ng-controller="todoController">

        <div class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><i class="fa fa-globe"></i> Lolcat Mobile</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><i class="fa fa-list"></i> My Todo list</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">View as:</a></li>
                <li><a href="#" ng-click="viewAs = 'list'"><i class="fa fa-list"></i> list</a></li>
                <li><a href="#" ng-click="viewAs = 'cards'"><i class="fa fa-th-large"></i> cards</a></li>
                <li><a href="#" ng-click="viewAs = 'single-card'"><i class="fa fa-list-alt"></i> card</a></li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div ng-show="viewAs == 'list'">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lolcat in lolcats">
                            <td><img src="{{lolcat.image}}" width="100px" height="60px"></td>
                            <td>{{lolcat.name}}</td>
                            <td><i class="fa {{lolcat.status.icon}}"></i> {{lolcat.status.name}}</td>
                            <td>{{lolcat.date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div ng-show="viewAs == 'cards'">
                <div ng-repeat="lolcat in lolcats">
                    <div class="col-sm-4 col-md-4 col-lg-4 item-card">
                        <div>
                            <span class="card-title">{{lolcat.name}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="viewAs == 'single-cards'">
                <div ng-repeat="lolcat in lolcats">

                    <div  class="">
                    </div>




                </div>
            </div>

        </div>
    </div>



    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/data.js"></script>
    <script src="js/angular-controller.js"></script>
</body>
</html>